/* ========================= Comunicação ========================= */
.comunicacao {
    padding: 50px 0;
    font-family: var(--main-font);
    color: var(--light-text-color);
}

.comunicacao h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
    color: var(--text-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.comunicacao-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 20px;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.comunicacao-texto {
    flex: 2 1 400px;
}

.comunicacao-texto h2 {
    font-size: 2.2em;
    color: var(--text-color);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.comunicacao-texto h2 i {
    margin-right: 10px;
    color: var(--accent-color);
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .comunicacao-content {
        flex-direction: column;
    }
}