/* ========================= Jovens ========================= */
.jovens {
    padding: 50px 0;
    font-family: var(--main-font);
    color: var(--light-text-color);
}

/* Estilos de Cores para Jovens */
.jovens {
    --primary-color: #FF9800;   /* Laranja */
    --secondary-color: #FFE0B2;  /* Laranja Mais Claro */
    --accent-color: #2ECC71;    /* Verde Esmeralda */
    --light-text-color: #757575;
}

.jovens h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
    color: var(--primary-color); /* Laranja */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.jovens-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 20px;
    background-color: var(--secondary-color); /* Laranja Mais Claro */
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.jovens-imagem-container {
    flex: 1 1 400px;
    max-width: 500px;
    margin: 0 auto;
}

.jovens-imagem {
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease;
    object-fit: cover;
    height: auto;
}

.jovens-imagem:hover {
    transform: scale(1.05);
}

.jovens-texto {
    flex: 2 1 400px;
}

.jovens-texto h2 {
    font-size: 2.2em;
    color: var(--primary-color); /* Laranja */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.jovens-texto h2 i {
    margin-right: 10px;
    color: var(--accent-color);
}

.atividades-lista {
    list-style: none;
    padding: 0;
}

.atividades-lista li {
    font-size: 1.1em;
    line-height: 1.7;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.atividades-lista li:hover {
    transform: translateX(5px);
}

.atividades-lista li i {
    color: var(--accent-color);
    margin-right: 10px;
    font-size: 1.3em;
}

/* Botão de Inscrição */
.btn-junte-se {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--accent-color); /* Verde Esmeralda */
    color: var(--white-color);
    text-decoration: none;
    border-radius: var(--border-radius);
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-junte-se:hover {
    background-color: #449d44;
}

/* Animações */
.animated-title {
    animation: fadeInTitle 1s ease forwards;
    opacity: 0;
}

@keyframes fadeInTitle {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Testemunhos */
.testemunhos {
    margin-top: 40px;
    text-align: center;
}

.testemunhos h2 {
    font-size: 2em;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.testemunhos-slider {
    /* Adicionar estilos para o slider */
    display: flex;
    overflow-x: auto; /* Habilita a barra de rolagem horizontal */
    scroll-snap-type: x mandatory; /* Define o comportamento de "snap" para o rolamento */
    padding-bottom: 15px; /* Espaço para a barra de rolagem não cobrir o texto */
}

.testemunho {
    flex: 0 0 80%; /* Cada testemunho ocupa 80% da largura do contêiner */
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-right: 20px; /* Espaço entre os testemunhos */
    scroll-snap-align: start; /* Alinha o início de cada item ao contêiner */
    background-color: #f9f9f9;
    text-align: left;
}

.testemunho p {
    font-style: italic;
    font-size: 1.1em;
    color: var(--light-text-color);
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .jovens-content {
        flex-direction: column;
    }

    .jovens-imagem-container {
        max-width: 100%;
    }
}